[Unit]
Description=ClickHouse Incremental Backup Timer
Documentation=man:systemd.timer(5)

[Timer]
# Запускать инкрементальный бэкап каждые 4 часа в 30 минут
OnCalendar=*-*-* 00,04,08,12,16,20:30:00 Europe/Moscow
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target