[Unit]
Description=Schedule for QTickets API Ingestion

[Timer]
Unit=qtickets_api.service
OnCalendar=*-*-* *:0/30
Timezone=Europe/Moscow
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
