[Unit]
Description=Schedule for QTickets API Ingestion

[Timer]
Unit=qtickets_api.service
OnCalendar=*-*-* */15:00:00 Europe/Moscow
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target