[Unit]
Description=Alerts Monitor Timer
Requires=alerts.service

[Timer]
OnCalendar=*:0/2
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
