[Unit]
Description=QTickets Google Sheets Data Loader Timer
Requires=qtickets_sheets.service

[Timer]
OnCalendar=*:0/30
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
