[Unit]
Description=QTickets Data Loader Timer
Requires=qtickets.service

[Timer]
OnCalendar=*:0/30
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
