[Unit]
Description=Run QTickets API ETL every 30 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Persistent=true
AccuracySec=1min
Unit=qtickets_api.service

[Install]
WantedBy=timers.target
