[Unit]
Description=VK Ads Data Loader Timer
Requires=vk_ads.service

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target