<?xml version="1.0" encoding="utf-8" standalone="yes"?><Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"><Template>Normal.dotm</Template><TotalTime>0</TotalTime><DocSecurity>0</DocSecurity><ScaleCrop>false</ScaleCrop><Application>MyOffice-CoreFramework-Windows/22-903.417.5503.534.7@RELEASE-DESKTOP-SORREL_HOME-RC</Application></Properties>